
<!-- Head Start -->
		<div class="head inner-pages">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-4">
						<!-- Logo and Head Text -->
						<div class="logo">
							<!-- Logo Icon and Heading -->
							<%= image_tag "logo2.png", :class => "img-responsive" %><span><a href="/">OHB</a></span>
						</div>
					</div>
					<div class="col-md-3 col-sm-4">
						<!-- Social Icon Menu -->
						<div class="social">
							<a href="https://www.facebook.com/hondurasbiotech" class="facebook"><i class="fa fa-facebook"></i></a>
							<a href="http://www.linkedin.com/company/5042570?trk=prof-exp-company-name" class="linkedin"><i class="fa fa-linkedin"></i></a>
						</div>
					</div>
					<div class="col-md-3 col-sm-4">
						<div class="search">
							<form>
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Text to search">
									<span class="input-group-btn">
										<button class="btn btn-danger" type="button"><i class="fa fa-search"></i></button>
									</span>
								</div>
							</form>
						</div>
					</div>
					<div class="col-md-3 hidden-sm">
					</div>
				</div>
			</div>
		</div>
		<!-- Menu Bar End -->
				<!-- Inner Page Heading -->
				<div class="inner-page about">
					<div class="container">
						<h2><i class="fa fa-user lblue"></i><strong>Acerca de Nosotros</strong> somos OHB</h2>
						<div class="team">
							<div class="row">
								<!-- Team First Member -->
								<div class="col-md-6 col-sm-6">
									<div class="team-member">
										<%= image_tag "raul.jpg", :class => "img-responsive" %>
										<div class="row">
											<div class="col-md-6 col-sm-6 col-xs-6">
												<h3><a href="#">Raul Jordan</a></h3>
												<span>Fundador y Presidente</span>
											</div>
											<div class="col-md-6 col-sm-6 col-xs-6">
												<!-- Social Icon Menu -->
												<div class="social pull-right">
													<a href="http://www.linkedin.com/in/raulejordan" class="linkedin"><i class="fa fa-linkedin"></i></a>
												</div>
												<div class="clearfix"></div>
											</div>
										</div>
										<p>Harvard University '17. Experto en Biotecnología y Programación, Raul comenzó OHB como una de sus metas para avanzar la ciencia a nivel nacional en Honduras.</p>
									</div>
								</div>
								<!-- Team Second Member -->
								<div class="col-md-6 col-sm-6">
									<div class="team-member">
										<%= image_tag "bibi.jpg", :class => "img-responsive" %>
										<div class="row">
											<div class="col-md-6 col-sm-6 col-xs-6">
												<h3><a href="#">Marissa Shelton </a></h3>
												<span>Mercadeo y Publicidad</span>
											</div>
											<div class="col-md-6 col-sm-6 col-xs-6">
												<!-- Social Icon Menu -->
												<div class="social pull-right">
													<a href="https://www.linkedin.com/" class="linkedin"><i class="fa fa-linkedin"></i></a>
												</div>
												<div class="clearfix"></div>
											</div>
										</div>
										<p>Master in Business Administration INCAE Business School 2012, major in Marketing. 
								Bachelor degree in Chemistry and Pharmaceuticals at UNAH 2008, major in food Technology. </p>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
				
