
<!-- Head Start -->
    <div class="head inner-pages">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-4">
            <!-- Logo and Head Text -->
            <div class="logo">
              <!-- Logo Icon and Heading -->
              <%= image_tag "logo2.png", :class => "img-responsive" %><span><a href="/">OHB</a></span>
            </div>
          </div>
          <div class="col-md-3 col-sm-4">
            <!-- Social Icon Menu -->
            <div class="social">
              <a href="https://www.facebook.com/hondurasbiotech" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="http://www.linkedin.com/company/5042570?trk=prof-exp-company-name" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
          <div class="col-md-3 col-sm-4">
            <div class="search">
              <form>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Text to search">
                  <span class="input-group-btn">
                    <button class="btn btn-danger" type="button"><i class="fa fa-search"></i></button>
                  </span>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-3 hidden-sm">
          </div>
        </div>
      </div>
    </div>
    <!-- Menu Bar End -->


    <!-- Inner Page Heading -->
    <div class="inner-page careers">
      <div class="container">
        <h2><i class="fa fa-shield orange"></i><strong>Beneficios de la Membresía</strong> exclusivamente de OHB</h2>
        <div class="inner-tab">
          <!-- Nab Bar Tan Menu list -->
          <ul id="mytab" class="nav nav-tabs">
            <li class="active"><a href="#one" data-toggle="tab">Membresía Individual</a></li>
            <li><a href="#two" data-toggle="tab">Membresía Institucional</a></li>
          </ul>
          <!-- Content for each menu item -->
          <div class="tab-content">
            <!-- First Content for Nav bar -->
            <div class="tab-pane fade in active" id="one">
              <h3>Ser Miembro Individual</h3>
              <p>Ser miembro individual de OHB incluye muchos beneficios. Ofrecemos a nuestros miembros nuestras noticias y eventos como notificaciones de email frecuentemente y damos asesorías. Nuestros miembros pueden tener acceso directo con nosotros y los contactaremos para cualquier pregunta o idea que tengan. Al ser miembro, se pueden conocer a los demás miembros de OHB y de esa manera establecer mejores relaciones entre cada persona y crecer el prestigio de la organización. Los miembros tendrán acceso a los artículos y noticias publicadas por los creadores de OHB y tendran la opción de comentar en ellos directamente.</p>
              <a href="/users/signup" class="btn btn-info btn-sm">Registrarse</a>
            </div>
            
            <!-- Second Content for Nav bar -->
            <div class="tab-pane fade" id="two">
              <h3>Miembros Institucionales</h3>
              <p>El proceso para ser miembro institucional es un poco diferente a lo típico ya que se debe contactar directamente a OHB para procesar una membresía premium. Por ahora, no se ha determinado un precio fijo para nuevos miembros institucionales, pero esperamos agregar esta función pronto. Cualquier pregunta favor contactarnos. Los miembros institucionales podrán coordinar eventos bajo la ayuda de OHB y podrán fomentar el crecimiento de la ciencia a través de OHB. Ofreceremos asesorías directas y personales con cualquier miembro institucional.</p>
              <a href="/welcome/contact" class="btn btn-info btn-sm">Contactarnos</a>
            </div>
            
          </div>
        </div>
        <!-- Other block for service -->
            <div class="row">
              <div class="col-md-4 col-sm-4">
                <!-- Service Item Block -->
                <div class="service-item">
                  <!-- Service Item Image -->
                  <%= image_tag "ser1.jpg", :class => "img-responsive" %>
                  <div class="item-text">
                    <!-- Item Heading and paragraph -->
                    <h3><a href="">Asesoría</a></h3>
                    <p>Damos ayuda y conocimiento a cualquier persona interesada en hacer un impacto en el país.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4">
                <div class="service-item">
                  <%= image_tag "ser2.jpg", :class => "img-responsive" %>
                  <div class="item-text">
                    <h3><a href="">Noticias</a></h3>
                    <p>Ofrecemos las mejores fuentes de información en la industria nacional para nuestros miembros.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4">
                <div class="service-item">
                  <%= image_tag "ser3.jpg", :class => "img-responsive" %>
                  <div class="item-text">
                    <h3><a href="">Eventos</a></h3>
                    <p>Ayudamos a instituciones a coordinar eventos para el beneficio de la industria y la organización a nivel nacional.</p>
                  </div>
                </div>
              </div>
            </div>
      </div>

    </div>

