
<!-- Head Start -->
    <div class="head inner-pages">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-4">
            <!-- Logo and Head Text -->
            <div class="logo">
              <!-- Logo Icon and Heading -->
              <%= image_tag "logo2.png", :class => "img-responsive" %><span><a href="/">OHB</a></span>
            </div>
          </div>
          <div class="col-md-3 col-sm-4">
            <!-- Social Icon Menu -->
            <div class="social">
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
          <div class="col-md-3 col-sm-4">
            <div class="search">
              <form>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Text to search">
                  <span class="input-group-btn">
                    <button class="btn btn-danger" type="button"><i class="fa fa-search"></i></button>
                  </span>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-3 hidden-sm">
          </div>
        </div>
      </div>
    </div>
    <!-- Menu Bar End -->

<!-- Inner Page Heading -->
		<div class="inner-page portfolio">
			<div class="container">
				<h2><i class="fa fa-camera green"></i><strong>Portfolio</strong> drsdam eactualtea chin...</h2>
				<div class="img-portfolio">
                    <p>
                        <!-- Add filter names inside "data-filter". For example ".web-design", ".seo", etc., Filter names are used to filter the below images. -->
                        <ul id="filters">
							<li><a href="#" data-filter="*" class="btn btn-default">All</a></li>
							<li><a href="#" data-filter=".one" class="btn btn-default">One</a></li>
							<li><a href="#" data-filter=".two" class="btn btn-default">Two</a></li>
							<li><a href="#" data-filter=".three" class="btn btn-default">Three</a></li>
							<li><a href="#" data-filter=".four" class="btn btn-default">Four</a></li>
							<li><a href="#" data-filter=".five" class="btn btn-default">Five</a></li>
                        </ul>
                    </p>
                        
                        
                    <div id="portfolio">
                        <!-- Add the above used filter names inside div tag. You can add more than one filter names. For image lightbox you need to include "a" tag pointing to image link, along with the class "prettyphoto". -->                        
						<div class="element one three">
							<a href="img/portfolio/1.jpg" class="prettyphoto">
								<img src="img/portfolio/1.jpg" alt=""/>
								<!-- Portfolio caption -->
								<div class="pcap">
									<h4>Lorem ipsum dolor</h4>
									<p>Sed justo dui, scelerisque ut  vel, eleifend id erat.</p>
								</div>
							</a>
						</div>
						<div class="element two one">
							<a href="img/portfolio/2.jpg" class="prettyphoto">
								<img src="img/portfolio/2.jpg" alt=""/>
								<div class="pcap">
									<h4>Lorem ipsum dolor</h4>
									<p>Sed justo dui, scelerisque ut  vel, eleifend id erat.</p>
								</div>                           
							</a>
						</div>
                       <div class="element three five"><a href="img/portfolio/3.jpg" class="prettyphoto">
                           <img src="img/portfolio/3.jpg" alt=""/>
                           <div class="pcap">
                              <h4>Lorem ipsum dolor</h4>
                              <p>Sed justo dui, scelerisque ut  vel, eleifend id erat.</p>
                           </div>                           
                       </a></div>
                       <div class="element four two"><a href="img/portfolio/4.jpg" class="prettyphoto">
                           <img src="img/portfolio/4.jpg" alt=""/>
                           <div class="pcap">
                              <h4>Lorem ipsum dolor</h4>
                              <p>Sed justo dui, scelerisque ut  vel, eleifend id erat.</p>
                           </div>                           
                       </a></div>
                       <div class="element five one"><a href="img/portfolio/5.jpg" class="prettyphoto">
                           <img src="img/portfolio/5.jpg" alt=""/>
                           <div class="pcap">
                              <h4>Lorem ipsum dolor</h4>
                              <p>Sed justo dui, scelerisque ut  vel, eleifend id erat.</p>
                           </div>                           
                       </a></div> 
                       <div class="element four five"><a href="img/portfolio/6.jpg" class="prettyphoto">
                           <img src="img/portfolio/6.jpg" alt=""/>
                           <div class="pcap">
                              <h4>Lorem ipsum dolor</h4>
                              <p>Sed justo dui, scelerisque ut  vel, eleifend id erat.</p>
                           </div>                           
                       </a></div> 
                       <div class="element three one"><a href="img/portfolio/7.jpg" class="prettyphoto">
                           <img src="img/portfolio/7.jpg" alt=""/>
                           <div class="pcap">
                              <h4>Lorem ipsum dolor</h4>
                              <p>Sed justo dui, scelerisque ut  vel, eleifend id erat.</p>
                           </div>                           
                       </a></div>
                       <div class="element three one"><a href="img/portfolio/8.jpg" class="prettyphoto">
                           <img src="img/portfolio/8.jpg" alt=""/>
                           <div class="pcap">
                              <h4>Lorem ipsum dolor</h4>
                              <p>Sed justo dui, scelerisque ut  vel, eleifend id erat.</p>
                           </div>                           
                       </a></div>
					</div>
				</div>
			</div>
		</div>


    <!-- Inner Page Heading -->
    <div class="inner-page careers">
      <div class="container">
        <h2><i class="fa fa-shield orange"></i><strong>Careers</strong> drsdam eactualtea chin...</h2>
        <div class="inner-tab">
          <!-- Nab Bar Tan Menu list -->
          <ul id="mytab" class="nav nav-tabs">
            <li class="active"><a href="#one" data-toggle="tab">Web Programming (1)</a></li>
            <li><a href="#two" data-toggle="tab">Web Techniques (2)</a></li>
            <li><a href="#three" data-toggle="tab">Java Programming I</a></li>
            <li><a href="#four" data-toggle="tab">HTML Programming II</a></li>
          </ul>
          <!-- Content for each menu item -->
          <div class="tab-content">
            <!-- First Content for Nav bar -->
            <div class="tab-pane fade in active" id="one">
              <h3>Smoditem Poraincidu</h3>
              <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences.</p>
              <a href="#" class="btn btn-info btn-sm">Apply Now</a>
            </div>
            
            <!-- Second Content for Nav bar -->
            <div class="tab-pane fade" id="two">
              <h3>Usdametaut Ficiebit</h3>
              <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences.</p>
              <a href="#" class="btn btn-info btn-sm">Apply Now</a>
            </div>
            
            <!-- Third Content for Nav bar -->
            <div class="tab-pane fade" id="three">
              <h3>Tutufficiis Debit</h3>
              <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences.</p>
              <a href="#" class="btn btn-info btn-sm">Apply Now</a>
            </div>
            
            <!-- Fourth Content for Nav bar -->
            <div class="tab-pane fade" id="four">
              <h3>Quibusdam Etaut</h3>
              <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences.</p>
              <a href="#" class="btn btn-info btn-sm">Apply Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>

