
<!-- Head Start -->
		<div class="head inner-pages">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-4">
						<!-- Logo and Head Text -->
						<div class="logo">
							<!-- Logo Icon and Heading -->
							<%= image_tag "logo2.png", :class => "img-responsive" %><span><a href="/">OHB</a></span>
						</div>
					</div>
					<div class="col-md-3 col-sm-4">
						<!-- Social Icon Menu -->
						<div class="social">
							<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
							<a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
						</div>
					</div>
					<div class="col-md-3 col-sm-4">
						<div class="search">
							<form>
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Text to search">
									<span class="input-group-btn">
										<button class="btn btn-danger" type="button"><i class="fa fa-search"></i></button>
									</span>
								</div>
							</form>
						</div>
					</div>
					<div class="col-md-3 hidden-sm">
					</div>
				</div>
			</div>
		</div>
		<!-- Menu Bar End -->
<!-- Inner Page Heading -->
				<div class="inner-page contact">
					<div class="container">
						<h2><i class="fa fa-phone-square lblue"></i><strong>Contact Us</strong> drsdam eactualtea ching...</h2>
						<div class="cmap">
							<!-- Google Map For Contact us page -->
							<iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/?ie=UTF8&amp;ll=15.500,271.99667&amp;spn=0.815042,1.352692&amp;t=m&amp;z=10&amp;output=embed"></iframe>
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<!-- Contact Form Area -->
								<div class="contact-form">
									<h2>Contact Form</h2>
									<form class="form-horizontal" role="form">
										<div class="form-group">
											<label for="Name" class="col-lg-2 control-label">Name</label>
											<div class="col-lg-10">
												<input type="text" class="form-control" id="name">
											</div>
										</div>
										<div class="form-group">
											<label for="Email" class="col-lg-2 control-label">Email</label>
											<div class="col-lg-10">
												<input type="email" class="form-control" id="email">
											</div>
										</div>
										<div class="form-group">
                                            <label class="control-label col-lg-2" for="comment">Comment</label>
                                            <div class="col-lg-10">
                                              <textarea class="form-control" id="comment" rows="3"></textarea>
                                            </div>
                                        </div>
										  
										<div class="form-group">
											<div class="col-lg-offset-2 col-lg-10">
												<button type="submit" class="btn btn-info">Submit</button> &nbsp;
												<button type="reset" class="btn">Reset</button>
											</div>
										</div>
									</form>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<!-- Contact Adress Area -->
								<div class="contact-item">
									<h2>Address</h2>
									<h4>Finbus Bonum Ltd.</h4>
									<p>#91/127 Piciatis unde Kolaman <br />omnis unde omnis <br /> Bangalore - 458745<p>
									<p><span class="mute">E-mail</span> : <a href="#">abc-xyz@example.com</a><br /> <span class="mute">Phone no.</span> : +91 123 - 456 - 7899</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				

