
<!-- Head Start -->
		<div class="head inner-pages">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-4">
						<!-- Logo and Head Text -->
						<div class="logo">
							<!-- Logo Icon and Heading -->
							<%= image_tag "logo2.png", :class => "img-responsive" %><span><a href="/">OHB</a></span>
						</div>
					</div>
					<div class="col-md-3 col-sm-4">
						<!-- Social Icon Menu -->
						<div class="social">
							<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
							<a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
						</div>
					</div>
					<div class="col-md-3 col-sm-4">
						<div class="search">
							<form>
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Text to search">
									<span class="input-group-btn">
										<button class="btn btn-danger" type="button"><i class="fa fa-search"></i></button>
									</span>
								</div>
							</form>
						</div>
					</div>
					<div class="col-md-3 hidden-sm">
					</div>
				</div>
			</div>
		</div>
		<!-- Menu Bar End -->
		
		
		
				<!-- Inner Page Heading -->
				<div class="inner-page faq">
					<div class="container">
						<h2><i class="fa fa-question-circle green"></i><strong>Preguntas Frecuentes</strong> y respuestas...</h2>
						<!-- Collapse Item -->
						<div class="panel-group" id="accordion">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
											<h5><i class="fa fa-camera purple"></i>&nbsp; ¿Cómo lograron comenzar una organización tan grande?</h5>
										</a>
									</h4>
								</div>
								<div id="collapseOne" class="panel-collapse collapse in">
									<div class="panel-body">
										<p>No fue fácil. Comenzamos pensando en qué es lo que le faltaba la industria de biotecnología en Honduras y vimos que el apogeo de los cultivos genéticamente modificados a nivel mundial afectaba la economía hondureña, pero no había manera y no había ningún organismo nacional que pudiera regular esto o informar a la comunidad de científicos institucionales o individuales en Honduras, así que decidimos crear OHB como una red para ese propósito.</p>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
											<h5><i class="fa fa-puzzle-piece orange"></i>&nbsp; ¿Cuáles son sus planes para seguir expandiendo?</h5>
										</a>
									</h4>
								</div>
								<div id="collapseTwo" class="panel-collapse collapse">
									<div class="panel-body">
										<p>Por el momento buscamos más apoyo institucional y ayuda de parte de individuos que quieran unirse a OHB. Pensamos crear una red lo suficientemente grande para crear prestigio y atraer miembros de toda Centroamérica y poder asesorar o unir las ideas hondureñas con las de inversionistas y pensadores de otros paises.</p>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
											 <h5><i class="fa fa-unlock-o lblue"></i>&nbsp; ¿Cualquier persona puede ser miembro de OHB por ahora?</h5>
										</a>
									</h4>
								</div>
								<div id="collapseThree" class="panel-collapse collapse">
									<div class="panel-body">
										<p>OHB es una organización abierta por el momento y aceptamos cualquier miembro individual. Sin embargo, para membresías premium para instituciones, estaremos estableciendo un precio fijo que tendrán que pagar una vez y ser parte de OHB y representarnos.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				

		