
<!-- Head Start -->
    <div class="head inner-pages">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-4">
            <!-- Logo and Head Text -->
            <div class="logo">
              <!-- Logo Icon and Heading -->
              <%= image_tag "logo2.png", :class => "img-responsive" %><span><a href="/">OHB</a></span>
            </div>
          </div>
          <div class="col-md-3 col-sm-4">
            <!-- Social Icon Menu -->
            <div class="social">
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
          <div class="col-md-3 col-sm-4">
            <div class="search">
              <form>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Text to search">
                  <span class="input-group-btn">
                    <button class="btn btn-danger" type="button"><i class="fa fa-search"></i></button>
                  </span>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-3 hidden-sm">
          </div>
        </div>
      </div>
    </div>
    <!-- Menu Bar End -->

		<!-- Inner Page Heading -->
		<div class="inner-page testimonial">
			<div class="container">
				<h2><i class="fa fa-group red"></i><strong>Goals</strong> drsdam eactualtea chin...</h2>
				<div class="inner-testimonial">
					<div class="row">
						<div class="col-md-4 col-sm-4">
							<!-- testimonial content -->
							<div class="testimonial-content t-one animated animation bounceInLeft">
								<!-- User's image , name and designation -->
								<h4><img src="img/user-xs.jpg" alt="" class="img-responsive img-circle"/>H. Rackham<span>, Atr Director</span></h4>
								<!-- User's comment -->
								<blockquote class="br-orange">
									<p>Sed ut perspiciatis unde omnis iste natust error sit vol accusantium doloremque and laudantium, totam rem aperiam, eaque an ipsa quae abe illo explicabo. An oiuk nesciunt.</p>
								</blockquote>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<!-- testimonial content -->
							<div class="testimonial-content t-two animated animation bounceInLeft">
								<!-- User's image , name and designation -->
								<h4><img src="img/user-xs.jpg" alt="" class="img-responsive img-circle"/>Bum Malorum<span>, M. D.</span></h4>
								<!-- User's comment -->
								<blockquote class="br-lblue">
									<p>Sed ut perspiciatis unde omnis iste natust error sit vol accusantium doloremque and laudantium, totam rem aperiam, eaque an ipsa quae abe illo explicabo. An oiuk nesciunt.</p>
								</blockquote>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<!-- testimonial content -->
							<div class="testimonial-content t-three animated animation bounceInLeft">
								<!-- User's image , name and designation -->
								<h4><img src="img/user-xs.jpg" alt="" class="img-responsive img-circle"/>Jhonm Eloruk<span>, Manager</span></h4>
								<!-- User's comment -->
								<blockquote class="br-green">
									<p>Sed ut perspiciatis unde omnis iste natust error sit vol accusantium doloremque and laudantium, totam rem aperiam, eaque an ipsa quae abe illo explicabo. An oiuk nesciunt.</p>
								</blockquote>
							</div>
						</div>
					</div>
					<!-- Second row -->
					<div class="row">
						<div class="col-md-4 col-sm-4">
							<!-- testimonial content -->
							<div class="testimonial-content t-one animated animation bounceInLeft">
								<!-- User's image , name and designation -->
								<h4><img src="img/user-xs.jpg" alt="" class="img-responsive img-circle"/>L. Shinoft<span>, Account Manager</span></h4>
								<!-- User's comment -->
								<blockquote class="br-purple">
									<p>Sed ut perspiciatis unde omnis iste natust error sit vol accusantium doloremque and laudantium, totam rem aperiam, eaque an ipsa quae abe illo explicabo. An oiuk nesciunt.</p>
								</blockquote>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<!-- testimonial content -->
							<div class="testimonial-content t-two animated animation bounceInLeft">
								<!-- User's image , name and designation -->
								<h4><img src="img/user-xs.jpg" alt="" class="img-responsive img-circle"/>V. Aedictes <span>, CMD</span></h4>
								<!-- User's comment -->
								<blockquote class="br-red">
									<p>Sed ut perspiciatis unde omnis iste natust error sit vol accusantium doloremque and laudantium, totam rem aperiam, eaque an ipsa quae abe illo explicabo. An oiuk nesciunt.</p>
								</blockquote>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<!-- testimonial content -->
							<div class="testimonial-content t-three animated animation bounceInLeft">
								<!-- User's image , name and designation -->
								<h4><img src="img/user-xs.jpg" alt="" class="img-responsive img-circle"/>T. Volupuilu<span>, Engineer</span></h4>
								<!-- User's comment -->
								<blockquote class="br-blue">
									<p>Sed ut perspiciatis unde omnis iste natust error sit vol accusantium doloremque and laudantium, totam rem aperiam, eaque an ipsa quae abe illo explicabo. An oiuk nesciunt.</p>
								</blockquote>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		<!-- Inner Page Content End -->

