
<!-- Head Start -->
    <div class="head inner-pages">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-4">
            <!-- Logo and Head Text -->
            <div class="logo">
              <!-- Logo Icon and Heading -->
              <%= image_tag "logo2.png", :class => "img-responsive" %><span><a href="/">OHB</a></span>
            </div>
          </div>
          <div class="col-md-3 col-sm-4">
            <!-- Social Icon Menu -->
            <div class="social">
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
          <div class="col-md-3 col-sm-4">
            <div class="search">
              <form>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Text to search">
                  <span class="input-group-btn">
                    <button class="btn btn-danger" type="button"><i class="fa fa-search"></i></button>
                  </span>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-3 hidden-sm">
          </div>
        </div>
      </div>
    </div>
    <!-- Menu Bar End -->
				<!-- Inner Page Heading -->
				<div class="inner-page product">
					<div class="container">
						<h2><i class="fa fa-credit-card lblue"></i><strong>Products</strong> drsdam eactualtea ching...</h2>
						<div class="pr-content">
							<!-- Products Content -->
							<div class="row">
								<div class="col-md-8 col-sm-8">
									<!-- Product Carousel -->
									<div id="carousel-example-generic" class="carousel slide">
										<!-- Wrapper for slides -->
										<div class="carousel-inner">
											<div class="item active">
												<img src="img/pro1.jpg" class="img-responsive" alt="" />
											</div>
											<div class="item">
												<img src="img/pro2.jpg" class="img-responsive" alt="" />
											</div>
											<div class="item">
												<img src="img/pro3.jpg" class="img-responsive" alt="" />
											</div>
											<div class="item">
												<img src="img/pro4.jpg" class="img-responsive" alt="" />
											</div>
										</div>

										<!-- Controls -->
										<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
											<span class="icon-prev"></span>
										</a>
										<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
											<span class="icon-next"></span>
										</a>
									</div>
								</div>
								<div class="col-md-4 col-sm-4">
									<div class="pr-item">
										<h3>Lassical lite raovere</h3>
										<p>Sed words which don't look even slightly believable. You are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidde anything embs.</p>
										<h5>Gureing Barrass</h5>
										<ul>
											<li>Luptatem </li>
											<li>Sequi uite</li>
											<li>Mesciunt</li>
											<li>Neque po</li>
										</ul>
										<a href="#" class="btn btn-info">Launch Product</a>
									</div>
								</div>
							</div>
							<div class="recent-product">
								<h4>Recent Products</h4>
								<a href="#"><img src="img/pro1.jpg" class="img-responsive thumbnail" alt="" /></a>
								<a href="#"><img src="img/pro2.jpg" class="img-responsive thumbnail" alt="" /></a>
								<a href="#"><img src="img/pro3.jpg" class="img-responsive thumbnail" alt="" /></a>
								<a href="#"><img src="img/pro4.jpg" class="img-responsive thumbnail" alt="" /></a>
							</div>
						</div>
					</div>
				</div>

	
