
				<!-- Inner Page Heading -->
				<div class="inner-page sign">
					<div class="container">
						<h2><i class="fa fa-sign-in red"></i><strong>Sign In / Sign Up</strong> drsdam eactualtea ching...</h2>
						<div class="sign-content">
							<div class="row">
								<div class="col-md-4 col-sm-4">
									<!-- Sign In Area -->
									<div class="sign-in">
										<h3><i class="fa fa-user red"></i> &nbsp;Sign In</h3>
										<%= render '/sessions/new.html.erb' %>
									</div>
								</div>
								<div class="col-md-3 col-sm-3">
									<div class="well br-lblue white">
										<h5>Milique Suntculpa</h5>
										<p> Nam libero tempo soluta nobis est eligendi optio cumque nihil impedit quo minus id qxime placeat facere posnis voluptas assunis dolor repellendus. </p>
									</div>
									<div class="well br-orange white">
										<h5>Wefoice Sntram</h5>
										<p> Nam libero tempo soluta nobis edi optio cumque nihil impedit quo miod maxime placeat facere posnis voluptas assumenda enis dolor repellendus. </p>
									</div>
								</div>
								<div class="col-md-5 col-sm-5">
									<!-- Sign Up area -->
									<div class="sign-up">
										<h3><i class="fa fa-user green"></i> &nbsp;Sign Up for New Account</h3>
										<%= render '/users/new.html.erb' %>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				