
<!-- Head Start -->
		<div class="head inner-pages">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-4">
						<!-- Logo and Head Text -->
						<div class="logo">
							<!-- Logo Icon and Heading -->
							<%= image_tag "logo2.png", :class => "img-responsive" %><span><a href="/">OHB</a></span>
						</div>
					</div>
					<div class="col-md-3 col-sm-4">
						<!-- Social Icon Menu -->
						<div class="social">
							<a href="https://www.facebook.com/hondurasbiotech" class="facebook"><i class="fa fa-facebook"></i></a>
							<a href="http://www.linkedin.com/company/5042570?trk=prof-exp-company-name" class="linkedin"><i class="fa fa-linkedin"></i></a>
						</div>
					</div>
					<div class="col-md-3 col-sm-4">
						<div class="search">
							<form>
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Text to search">
									<span class="input-group-btn">
										<button class="btn btn-danger" type="button"><i class="fa fa-search"></i></button>
									</span>
								</div>
							</form>
						</div>
					</div>
					<div class="col-md-3 hidden-sm">
					</div>
				</div>
			</div>
		</div>
		<!-- Menu Bar End -->
				<!-- Inner Page Heading -->
				<div class="inner-page service">
					<div class="container">
						<h2><i class="fa fa-gears lblue"></i><strong>Ayudar a OHB</strong> mejorando cada día</h2>
						<div class="inner-sitem">
							<div class="row">
								<div class="col-md-3 col-sm-3">
									<h3>¿Piensas en ayudar a la organización científica más grande a nivel nacional?</h3>
									<p>Toda ayuda es bienvenida. Favor contactar en caso de sugerencias o de querer pertenecer a nuestro equipo. Si desea dar publicidad a OHB o ser miembro institucional, también contactar por más información.</p>
								</div>
								<div class="col-md-6 col-sm-6">
									<div class="s-item">
										<div class="sitem-icon">
											<i class="fa fa-truck lblue"></i>
										</div>
										<div class="sitem-content">
											<h4>Logística</h4>
											<p>Cualquier sugerencia en el área de logística o en estrategias generales es muy bienvenida. Por ahora nuestra logística está centrada en involucrar a OHB con instituciones y ofrecer nuestros servicios.</p>
										</div>
									</div>
									<div class="s-item">
										<div class="sitem-icon">
											<i class="fa fa-video-camera red"></i>
										</div>
										<div class="sitem-content">
											<h4>Programación</h4>
											<p>Si se desea ayudar en cualquier aspecto de la programación de nuestra red o de nuestro website en general, favor contactarnos directamente. Apreciamos cualquier notificación acerca de problemas con nuestro website y los arreglaremos pronto.</p>
										</div>
									</div>
									<div class="s-item">
										<div class="sitem-icon">
											<i class="fa fa-laptop green"></i>
										</div>
										<div class="sitem-content">
											<h4>Expandir Nuestra Influencia</h4>
											<p>Al ser miembro oficial de OHB, ofrecemos la oportunidad de ser voluntario para promover OHB en todo contexto y lo apreciamos mucho. </p>
										</div>
									</div>
									<div class="s-item last">
										<div class="sitem-icon">
											<i class="fa fa-desktop orange"></i>
										</div>
										<div class="sitem-content">
											<h4>Nuevas Ideas</h4>
											<p>Si se tienen nuevas ideas o información importante acerca del crecimiento de la biotecnología en Honduras, apreciamos cualquier contacto. </p>
										</div>
									</div>
								</div>
								<div class="col-md-3 col-sm-3">
									<h3>Links</h3>
									<ul>
										<li><a href="/welcome/contact">Contactarnos</a></li>
										<li><a href="/welcome/faq">Preguntas Frecuentes</a></li>
										<li><a href="/welcome/goals">Metas y Planes</a></li>
										<li><a href="/welcome/about">Quiénes Somos</a></li>
										<li><a href="/welcome/features">Servicios</a></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- Other block for service -->
						<div class="row">
							<div class="col-md-4 col-sm-4">
								<!-- Service Item Block -->
								<div class="service-item">
									<!-- Service Item Image -->
									<%= image_tag "ser1.jpg", :class => "img-responsive" %>
									<div class="item-text">
										<!-- Item Heading and paragraph -->
										<h3><a href="">Asesoría</a></h3>
										<p>Damos ayuda y conocimiento a cualquier persona interesada en hacer un impacto en el país.</p>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-4">
								<div class="service-item">
									<%= image_tag "ser2.jpg", :class => "img-responsive" %>
									<div class="item-text">
										<h3><a href="">Noticias</a></h3>
										<p>Ofrecemos las mejores fuentes de información en la industria nacional para nuestros miembros.</p>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-4">
								<div class="service-item">
									<%= image_tag "ser3.jpg", :class => "img-responsive" %>
									<div class="item-text">
										<h3><a href="">Eventos</a></h3>
										<p>Ayudamos a instituciones a coordinar eventos para el beneficio de la industria y la organización a nivel nacional.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			
	