
<!-- Head Start -->
		<div class="head inner-pages">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-4">
						<!-- Logo and Head Text -->
						<div class="logo">
							<!-- Logo Icon and Heading -->
							<%= image_tag "logo2.png", :class => "img-responsive" %><span><a href="/">OHB</a></span>
						</div>
					</div>
					<div class="col-md-3 col-sm-4">
						<!-- Social Icon Menu -->
						<div class="social">
							<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
							<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
							<a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
							<a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
						</div>
					</div>
					<div class="col-md-3 col-sm-4">
						<div class="search">
							<form>
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Text to search">
									<span class="input-group-btn">
										<button class="btn btn-danger" type="button"><i class="fa fa-search"></i></button>
									</span>
								</div>
							</form>
						</div>
					</div>
					<div class="col-md-3 hidden-sm">
					</div>
				</div>
			</div>
		</div>
		<!-- Menu Bar End -->
				<!-- Inner Page Heading -->
				<div class="inner-page service">
					<div class="container">
						<h2><i class="fa fa-gears lblue"></i><strong>Service</strong> drsdam eactualtea ching...</h2>
						<div class="inner-sitem">
							<div class="row">
								<div class="col-md-3 col-sm-3">
									<h3>Ueum fugiat quo voluptas nulla pariatur?</h3>
									<p>Dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
								</div>
								<div class="col-md-6 col-sm-6">
									<div class="s-item">
										<div class="sitem-icon">
											<i class="fa fa-truck lblue"></i>
										</div>
										<div class="sitem-content">
											<h4>Excepteur sint octat Knon</h4>
											<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqu at enim ad minim veniam quis nostrud.</p>
										</div>
									</div>
									<div class="s-item">
										<div class="sitem-icon">
											<i class="fa fa-video-camera red"></i>
										</div>
										<div class="sitem-content">
											<h4>Pnumquam eius ma inntu</h4>
											<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqu at enim ad minim veniam quis nostrud </p>
										</div>
									</div>
									<div class="s-item">
										<div class="sitem-icon">
											<i class="fa fa-laptop green"></i>
										</div>
										<div class="sitem-content">
											<h4>Things of the great truth</h4>
											<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqu at enim ad minim veniam quis nostrud </p>
										</div>
									</div>
									<div class="s-item last">
										<div class="sitem-icon">
											<i class="fa fa-desktop orange"></i>
										</div>
										<div class="sitem-content">
											<h4>Nor again is there ano pursue</h4>
											<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqu at enim ad minim veniam quis nostrud </p>
										</div>
									</div>
								</div>
								<div class="col-md-3 col-sm-3">
									<h3>Oitlabor iosam nisiutal</h3>
									<ul>
										<li><a href="#">Uetur adipisici</a></li>
										<li><a href="#">Hyrgte adipisici</a></li>
										<li><a href="#">Tycvvc etici</a></li>
										<li><a href="#">Xtur adipisici</a></li>
										<li><a href="#">Petur adipisici</a></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- Other block for service -->
						<div class="row">
							<div class="col-md-4 col-sm-4">
								<!-- Service Item Block -->
								<div class="service-item">
									<!-- Service Item Image -->
									<img src="img/ser1.jpg" class="img-responsive" alt="" />
									<div class="item-text">
										<!-- Item Heading and paragraph -->
										<h3><a href="#">Classical Litere</a></h3>
										<p>Lorem Ipsum cosections discred enerator shose intereon the table source will uncover many web sites still in their infancy.</p>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-4">
								<div class="service-item">
									<img src="img/ser2.jpg" class="img-responsive" alt="" />
									<div class="item-text">
										<h3><a href="#">Bonorum Malet</a></h3>
										<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced bicero are also rep rodu elow for those inter ested.</p>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-4">
								<div class="service-item">
									<img src="img/ser3.jpg" class="img-responsive" alt="" />
									<div class="item-text">
										<h3><a href="#">Eertation Ullamco</a></h3>
										<p>Sed quia non num quam eius modi tempora incidunt utced bicero labore etnem ullam corporis sriost aliquid exrat voluptatem.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			
	